<div
  class="tw-relative tw-mx-auto tw-max-w-1280 tw-px-24 tw-text-center tw-text-50 tw-font-semibold tw-text-[#A61513]"
>
  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    מזל טוב לאמא הכי טובה בעולם!
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    אני מאוד מתרגש להראות לך על מה עבדתי בשבוע האחרון.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    זה היה מאוד כיף לבנות את האתר הזה בידיעה שהוא בשבילך.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    אני רוצה להגיד לך תודה על זה שאת האמא הכי טובה שיש.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    תודה שאת מבינה ותומכת.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    תודה שאת מפנקת ודואגת שלא יחסר.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    תודה שאת עדינה כשאת כועסת.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    תודה שאת מכבדת.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    בסוף כל שבוע ארוך וקשה, אני שמח לבקר.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    בכל חיבוק חם ואוהב, אני מקבל אנרגיות חדשות לשבוע נוסף.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    את האוכל שאת מכינה אי אפשר להחליף בשום אוכל בעולם.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    לא יכולתי לבקש אמא טובה יותר. משימתך בתור האמא הטובה בעולם הושלמה - ניצחת!
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    אני רוצה לאחל לך המון בריאות, אושר, הצלחה, רוגע ותחושת סיפוק.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">
    אני שמח כל עוד את שמחה.
  </p>

  <p #paragraph class="tw-grid tw-h-svh tw-place-content-center">ממני, אור</p>
</div>
