@font-face {
  font-family: 'OpenSansHebrew';
  src: url(./OpenSansHebrew/OpenSansHebrew-Light.ttf) format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url(./OpenSansHebrew/OpenSansHebrew-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url(./OpenSansHebrew/OpenSansHebrew-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url(./OpenSansHebrew/OpenSansHebrew-ExtraBold.ttf) format('ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
