<div class="tw-overflow-hidden">
  <div class="tw-block tw-pb-60 tw-pt-60">
    <div class="tw-relative tw-h-154">
      <div
        #firstMovingSection
        class="tw-absolute tw-flex tw-h-154 tw-bg-[#A61513]"
      >
        <div
          #firstMovingSectionFirst
          class="tw-ml-10 tw-flex tw-gap-10"
          [style.marginRight.rem]="movingSectionsGap()"
        >
          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>
        </div>

        <div
          aria-hidden
          class="tw-ml-10 tw-flex tw-gap-10"
          [style.marginRight.rem]="movingSectionsGap()"
        >
          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            מזל טוב
          </div>

          <div
            class="tw-flex tw-aspect-square tw-items-center tw-justify-center tw-text-100"
          >
            🩵
          </div>
        </div>
      </div>
    </div>

    <div class="tw-mx-auto tw-max-w-1280 tw-py-300">
      <p class="tw-text-40">מזל טוב</p>
    </div>

    <div class="tw-relative tw-h-154">
      <div
        #secondMovingSection
        class="tw-absolute tw-bottom-0 tw-flex tw-h-154 tw-bg-[#A61513]"
      >
        <div
          class="tw-ml-10 tw-flex tw-gap-10"
          [style.marginRight.rem]="movingSectionsGap()"
        >
          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            אהבה
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            שמחה
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            בריאות
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            כושר
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            הצלחה
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            שפע
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            אושר
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            עושר
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            הגשמה
          </div>
        </div>

        <div
          aria-hidden
          class="tw-ml-10 tw-flex tw-gap-10"
          [style.marginRight.rem]="movingSectionsGap()"
        >
          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            אהבה
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            שמחה
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            בריאות
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            כושר
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            הצלחה
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            שפע
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            אושר
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            עושר
          </div>

          <div
            class="tw-flex tw-h-full tw-items-center tw-justify-center tw-overflow-hidden tw-text-nowrap tw-px-50 tw-text-92 tw-font-bold tw-leading-[1.066] tw-text-white lg:tw-font-medium lg:tw-leading-[0.978]"
          >
            הגשמה
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
